* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr 4fr;
    height: 100vh;

}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
}

@media screen and (width:550px) {

    .header nav {
        display: flex;
        flex-direction: row;
    }
}

.nav a {
    margin: 10px;
    text-decoration: none;

}

.buttons button {
    border-radius: 5px;
    padding: 8px
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 171, 182);
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px auto;
    padding: 50px;
    width: 80%;
    gap: 20px;

}

.rightBox {
    
    align-items: center;
    margin: 10px auto;
}

.photo {
    padding: 20px;
    border: 3px;
}

.photo img {
    height: 300px;
    width: 400px;
    padding: 10px;

}

.box {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding: 10px;
    color: white;
    /* align-items: center; */
    gap: 20px;
}

ul {
    list-style-type: none;
}

@media screen and (max-width:550px) {
    .header {
        flex-direction: column;
        text-align: left;
    }
}

@media screen and (max-width:560px) {
    .box {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:560px) {
    .footer {
        flex-direction: column;
        text-align: left;
    }
}

@media screen and (max-width:560px) {
    .content {
        flex-direction: column;
    }
}