*,
*hover::after,
*:hover::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 3%;

}

.box1 {
    width: 85px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 3%;

}

.box2 {
    width: 100px;
    height: 85px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 3%;

}

body {
    background-image: url(sky.jpg);
}

.box {
    background-image: url(image.png);
    background-size: cover;
}

.box1 {
    background-image: url(image.png);
    background-size: cover;
}

.box2 {
    background-image: url(image.png);
    background-size: cover;
}

.container {
    height: 100vh;
}

body:hover .box {
    left: 90%;
    bottom: 90%;

}

body:hover .box1 {
    left: 90%;
    bottom: 90%;

}

body:hover .box2 {
    left: 90%;
    bottom: 90%;

}

.transition {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 5s;
}

.transition1 {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 5s;
    transition-delay: 3s;
}

.transition2 {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 5s;
    transition-delay: 4s;
}