* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1.5fr 10fr 4fr;
    height: 100vh;

}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav a {
    margin: 10px;
    text-decoration: none;

}

.buttons button {
    border-radius: 5px;
    padding: 8px
}

.content {
    display: flex;
    align-items: center;
    background-color: rgb(160, 171, 182);
    border: 1px solid black;
    margin: 20px;
    padding: 10px;

}

.photo {
    padding: 20px;
    border: 3px;
}

.photo img {
    height: 300px;
    width: 400px;
    padding: 10px;

}

.box {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding: 10px;
    color: white;
    align-items: center;
}

ul {
    list-style-type: none;
}