* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(45deg, #f3f3f3, #b46e6e);

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.que {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: linear-gradient(45deg, #ffffff, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media (max-width: 600px) {
    .que {
        font-size: 1.2rem;
        text-align: center;

    }

    button {
        width: 100%;
        font-size: 1.2rem;

    }
}

.next {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.score {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: #b46e6e 2px solid;
    background-color: #fff;
    margin-top: 20px;
}